<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>맛집 스퀘어 메인</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/default.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/info.css')}}">
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3447871dfa6e6eb935a84a9d2d616380&libraries=services,clusterer,drawing"></script>
    </head>
    <body>
        <a href="#" class="skip">본문 바로가기</a>
        <header> 
            <h1><a href={{url_for('basic')}}>DELIE<br>SQUARE</a></h1>
            <h2 class="hide">메뉴</h2>
            <nav class="menu">
                <ul>
                    <li><a href="#a"><span style="color:#6c8801;font-weight: bold;">델리 스퀘어</span></a></li>
                    <li><a href="{{url_for('map')}}">지도</a></li>
                    <li><a href="{{url_for('search')}}">검색</a></li>
                </ul>
            </nav>
        </header>
        <section>
             <div class = "main-info">
                <h1>델리 스퀘어 <span style="color:#6c8801">소개</span></h1>
                <article>
                    <p> 델리스퀘어는 소셜 데이터를 수집 및 가공·분석하여 <br>
                        음식점에 대한 양질의 데이터를 제공하는 서비스입니다.<br>
                        카카오 맵 리뷰, SNS 리뷰 등 여러 사이트의 리뷰데이터를 사용하여<br>
                        맛집 리뷰에 대한 신뢰도를 측정해 시각적 결과를 제시합니다.<br>
                    </p>
                </article>   
             </div>
              
        </section>
        <!--
        <footer>
            <div>
                <p>필요한 정보를 적어둡니다.</p>
            </div>
        </footer>
    -->
    </body>
</html>
    