section{
    text-align:left;
    margin: 0 auto;
}

.map-info{
    position: relative;
    width: 500px; height:100px;
    left:50px;
    padding:10px;
    padding-bottom: 0;
}

section h1{
    content: "";
    display: block;
    position: relative; left:30px; top:50%;
    width: 500px; height: 50px;
    color:#ff9f24;
    font-size: 17px;
    animation: fadein 2s;
}

.map-section{
    position: relative;
    width: 80%; height:50%;
    margin:10px auto;
    background-color: rgb(72, 181, 196);
    animation: fadein 3s;
}

.map-section p{
    content:"";
    position: relative;
    left:40%; top:50%;
    font-size: 14px;
    color:#fff;
}

.map-section a{
    content:"";
    position: relative;
    left:40%; top:60%;
    font-size: 100px;
    color:rgb(72, 181, 196);
}

section .map{
    animation: fadein 3s;
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
