.wrap{
    position:relative;
}

.overlaybox{
    position: absolute;
    width: 400px;
    height: 240px;
    background: #fff;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    line-height: 1.5;
    left: -165px;
    bottom: 30px;
    background: url('../img/overlaybox_test.png');
}

.overlaybox .name{
    position: absolute;
    width: 350px;
    height: 30px;
    margin: 25px;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    color:#ff9f24;
    border-bottom: 2px solid #ff9f24;
    z-index: 1;
}

.overlaybox .close{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 360px;
    top:26px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png') no-repeat;
    text-align: center;
    z-index: 2;
}

.overlaybox .close:hover {cursor: pointer;}

.overlaybox .content{
    position: absolute;
    margin-left: 30px;
    font-size: 15px;
    top:80px;
    left:150px;
}

.overlaybox .content span{
    margin-right: 25px;
}

/*img scr*/
.overlaybox .img{
    position: relative;
    background: url('../img/icon_한식.png') no-repeat;
    width: 100px;
    height: 120px;
    top:65px;
    left:30px;
    z-index: 3;
}

.overlaybox a{
    position: relative;
    width: 280px;
    height: 40px;
    top: 20px;
    left: 142px;
    margin-left: 40px;
    margin-top: 10px;
    color: #6c8801;
}

.overlaybox a:hover{
    font-weight: bolder;
    transition: 0.5s;
}

.overlay-img {
    position: relative;
    content: block;
    background-color: #ffffff;
    width: 100px;
    height: 120px;
    left:30px;
    top: 65px;
}
/*
.overlaybox .name .close{
    position: absolute;
    width: 17px;
    height: 17px;
    top: 20;
    right: 20px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
    text-align: center;
}

.overlaybox .name .close:hover {cursor: pointer;}

.overlaybox .close{

    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.overlaybox .content{
    position: relative;
    width: 280px;
    height: 30px;
    margin: 30px;
    font-size: 15px;
}

.overlaybox .menu{
    padding-left: 30px;
}

.overlaybox .img{
    position: absolute;
    content: block;
    background-color: #ff9f24;
    background: url('../img/icon_한식.png') no-repeat;
    width: 100px;
    height: 120px;
    left: 65%;
    top: 65px;
}

.overlaybox a{
    position: relative;
    width: 280px;
    height: 40px;
    top: 20px;
    margin-left: 40px;
    margin-top: 10px;
}

.overlay-image {
    position: absolute;
    content: block;
    background-color: #ff9f24;
    width: 100px;
    height: 120px;
    left: 65%;
    top: 65px;
}

*/